div {
    padding: 0 0;
}

div.container {
    max-width: 50%;
    border-style: hidden hidden solid hidden;
}

h3.table-name {
    border-style: hidden hidden solid hidden;
    max-width: 20%;
}

h3.report-title {
    border-style: hidden hidden solid hidden;
    max-width: 50%;
}